{% extends 'base.html' %}
{% load crispy_forms_tags %}

{# Load the tag library #}
{% load bootstrap4 %}

{# Load CSS and JavaScript #}
{% bootstrap_css %}
{% bootstrap_javascript jquery='full' %}

{% block content %}
    <center>
        <div  class="card w-50 align-" >
            <div  class="card-body">
                <h4  class="card-title"> Смена пароля</h4>

                <form  method="post">
                    {% csrf_token %}
                    {{ form | crispy}}

                    <button  type="submit"  class="btn btn-success">Сменить пароль </button>
                </form>
            </div>
        </div>
    </center>
{% endblock %}