{% extends 'base.html' %}
{# Load the tag library #}
{% load bootstrap4 %}


{# Load CSS and JavaScript #}
{% bootstrap_css %}
{% bootstrap_javascript jquery='full' %}

{# Display django.contrib.messages as Bootstrap alerts #}
{% bootstrap_messages %}

{% block title %}
    Главная
{% endblock %}

{% block content %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-12 col-sm-6 col-md-4 col-lg-1">

            </div>
            <div class="col-xs-12 col-sm-6 col-md-8 col-lg-10">
                <form action="" method="post">
                    {% csrf_token %}
                    <ul class="nav nav-tabs">
                        <li class="nav-item">
                            <a class="nav-link active" data-toggle="tab" href="#main">Основные</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" data-toggle="tab" href="#bio">Био</a>
                        </li>
                    </ul>
                    <div id="myTabContent" class="tab-content">
                        <div class="tab-pane fade show active" id="main">
                            {{ form.non_field_errors }}
                            {% bootstrap_form profilebasicsettings_form layout='inline' %}
                        </div>
                        <div class="tab-pane fade" id="bio">
                            {% bootstrap_form profile_form layout='inline' %}
                        </div>
                    </div>
                    <button type="submit" class="btn btn-primary">Сохранить</button>
                </form>


            </div>
            <div class="col-xs-12 col-sm-6 col-md-4 col-lg-1">

            </div>
        </div>
    </div>
{% endblock %}


