{% extends 'base.html' %}

{% load bootstrap4 %}
{# Load CSS and JavaScript #}
{% bootstrap_css %}
{% bootstrap_javascript jquery='full' %}

{# Display django.contrib.messages as Bootstrap alerts #}
{% bootstrap_messages %}

{% block title %}
    О компании
{% endblock %}

{% load static %}


{% block content %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-12 col-sm-6 col-md-8 col-lg-1">


            </div>
            <div class="col-xs-12 col-sm-6 col-md-8 col-lg-10">
                <br>
                <h4>О компании</h4>
                <hr>
                <p>
                    Компания "ТЕКО" - это коллектив специалистов с большим опытом реализации проектов,
                    направленных на цифровое совершенствование бизнес-процессов. Мы помогаем оптимизировать бизнес
                    с 2011 года. Наша Компания реализует IT-проекты от идеи - до внедрения и
                    обучения пользователей работе с готовыми решениями.
                </p>
                <p>
                    На сегодняшний день мы реализовали программные и инфраструктурные проекты в сферах:<br>
                    - оказания транспортных услуг <br>
                    - менеджмента спортивного объекта<br>
                    - строительства<br>
                    - производства<br>
                </p>
                <hr>
                <table>
                    <tr>

                        <td>
                            <p>
                                Вот лишь некоторые кейсы, когда мы можем быть полезны Вам и Вашему бизнесу:<br>
                                - Вы занимаетесь производством и хотите расширить сферу влияния на рынке за счет автоматизации части процессов<br>
                                - Вы оказываете услуги большому количеству клиентов и контролировать взаимоотношенияс клиентами уже не хватает рук<br>
                                - Вы видите необходимость трансформировать ваши бизнес-процессы с учетом современных тенденций в IT-индустрии, но не знаете с чего начать.<br>
                                - Пестрота Вашего IT-парка дезориентирует и требует слишком большого внимания, отвлекая от основного направления деятельности<br>
                            </p>
                        </td>
                        <td>
                          <!-- <img src="{% static "main/question.jpg" %}" width="150"/> --!>
                        </td>

                    </tr>

                </table>



                <p>
                    Мы поможем трансформировать ваши бизнес-процессы с учетом современных тенденций в IT-индустрии.
                    Предложим реализацию Ваших идей и ожиданий в WEB или мобильное решение. Предоставим сопровождение
                    имеющихся у Вас информационных систем либо пути трансформации вашего стека IT-решений.
                </p>
                <hr>
                <table>
                    <tr>
                        <td>
                            <img src="{% static "main/puzzle.jpeg" %}" width="150"/>
                        </td>
                        <td>
                            <p>
                                Рынок нашего дня предлагает множество решений для Вашего бизнеса. При всем стремлении дистрибьюторов
                                стать интеграторами, зачастую, стоимость решений с внедрением систем предлагаемых ими, составляет
                                от 300 до 1000 процентов от стоимости лицензий. Благодаря наработке широкого спектра собственных
                                продуктов и решений на основе существующих продуктов нарынке, а, также, специализацией на
                                задачах трансформации IT-инфраструктуры малых и средних предприятий, мы можем предложить значительно
                                менее дорогостоящие решения, оптимально адаптирующиеся к процессам именно Вашего бизнеса, что, в
                                свою очередь, не потребует трансформации Вашего процессов под имеющееся решение.
                            </p>
                        </td>

                    </tr>

                </table>

            </div>

            <div class="col-xs-12 col-sm-6 col-md-4 col-lg-1">

            </div>
        </div>
    </div>
{% endblock %}


