{% extends 'base.html' %}

{% load bootstrap4 %}
{# Load CSS and JavaScript #}
{% bootstrap_css %}
{% bootstrap_javascript jquery='full' %}

{# Display django.contrib.messages as Bootstrap alerts #}
{% bootstrap_messages %}

{% block title %}
    О компании
{% endblock %}


{% block content %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-12 col-sm-6 col-md-8 col-lg-2">
                LEFT

            </div>
            <div class="col-xs-12 col-sm-6 col-md-8 col-lg-8">
                <br><br>
                <h4>О компании</h4>
            </div>

            <div class="col-xs-12 col-sm-6 col-md-4 col-lg-2">
                RIGHT
            </div>
        </div>
    </div>
{% endblock %}


