{% extends 'base.html' %}

{% load bootstrap4 %}
{# Load CSS and JavaScript #}
{% bootstrap_css %}
{% bootstrap_javascript jquery='full' %}

{# Display django.contrib.messages as Bootstrap alerts #}
{% bootstrap_messages %}
{% load staticfiles %}


{% block title %}
    Главная
{% endblock %}





{% block content %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-12 col-sm-6 col-md-4 col-lg-1">

            </div>
            <div class="col-xs-12 col-sm-6 col-md-8 col-lg-10">

                {% for n in news %}
                    {% autoescape off %}
                        {{ n.text }}
                    {% endautoescape %}
                {% endfor %}

            </div>
            <div class="col-xs-12 col-sm-6 col-md-4 col-lg-1">

            </div>
        </div>
    </div>
{% endblock %}


