{% extends 'base.html' %}

{% load bootstrap4 %}
{# Load CSS and JavaScript #}
{% bootstrap_css %}
{% bootstrap_javascript jquery='full' %}

{# Display django.contrib.messages as Bootstrap alerts #}
{% bootstrap_messages %}
{% load staticfiles %}


{% block title %}
    Help Desk
{% endblock %}

{% block content %}

    {% if 'user' in helpdeskuserroles or 'admin' in helpdeskuserroles %}
        <div class="col-xs-12 col-sm-6 col-md-8 col-lg-12">
            <a class="nav-link text-muted" href="#own" data-toggle="collapse"><h4>Свои обращения</h4></a>

            <!-- Button to Open the Modal -->
            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModal">
                <img src="{% static "main/icons/16x16/add.png" %} "> cоздать заявку
            </button>

            <!-- The Modal -->
            <div class="modal fade" id="myModal">
                <div class="modal-dialog modal-lg">
                    <div class="modal-content">


                        <!-- Modal Header -->
                        <div class="modal-header">
                            <h4 class="modal-title">Новая заявка</h4>
                            <button type="button" class="close" data-dismiss="modal">×</button>
                        </div>

                        <!-- Modal body -->
                        <div class="modal-body">
                            <form action="/helpdesk/add_incident" method="post">
                                {% csrf_token %}
                                {% bootstrap_form form layout='inline' %}
                                <button type="submit" class="btn btn-primary">Создать заявку</button>
                            </form>
                        </div>

                        <!-- Modal footer
                        <div class="modal-footer">
                            <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                        </div>
                        -->

                    </div>
                </div>
            </div>





            <div id="own" class="collapse show">
                <table class="table table-striped">
                    <thead>
                    <tr>
                        <th>ID</th>

                        <th>Создана</th>
                        <th>Описание</th>
                        <th>Тип</th>
                        <th>Статус</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for i in own_incidents %}
                        <tr>
                            <td>{{ i.id }}</td>

                            <td>{{ i.timestamp_created| date:"d.m.Y H:m" }}</td>
                            <td>{{ i.description }}</td>
                            <td>{{ i.incident_type }}</td>
                            <td>{{ i.state }}</td>
                        </tr>
                    {% endfor %}

                    </tbody>
                </table>
            </div>
        </div>
    {% endif %}


    {% if 'serviceman'  in helpdeskuserroles  or 'admin' in helpdeskuserroles  %}
        <div class="col-xs-12 col-sm-6 col-md-8 col-lg-12">
            <a class="nav-link text-muted" href="#users" data-toggle="collapse"><h4>Обращения пользователей</h4></a>
            <div id="users" class="collapse show">
                <table class="table table-striped">
                    <thead>
                    <tr>
                        <th>ID</th>
                        <th>Автор</th>
                        <th>Создана</th>
                        <th>Описание</th>
                        <th>Тип</th>
                        <th>Статус</th>
                        <th></th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for i in users_incidents %}
                        <tr>
                            <td>{{ i.id }}</td>
                            <td>{{ request.user.first_name }} {{ request.user.last_name }}</td>
                            <td>{{ i.timestamp_created| date:"d.m.Y H:m" }}</td>
                            <td>{{ i.description }}</td>
                            <td>{{ i.incident_type }}</td>
                            <td>{{ i.state }}</td>
                            <td>
                                <a href="open/{{ i.id }} " ><img src="{% static "main/icons/16x16/pen.png" %} "></a>
                            </td>
                        </tr>
                    {% endfor %}

                    </tbody>
                </table>
            </div>
        </div>
    {% endif %}



{% endblock %}

{% block debug %}




{% endblock %}

{% block popup %}

{% if 'serviceman'  in helpdeskuserroles  or 'admin' in helpdeskuserroles  %}
    {% for i in new_incidents %}
    <div class="toast" role="alert" aria-live="assertive" aria-atomic="true">
        <div class="toast-header">
            <img src="{% static "main/icons/16x16/spam.png" %}" class="rounded mr-2" alt="...">
            <strong class="mr-auto">Заявка № {{ i.id }}</strong><br>
            <small>Создана {{ i.timestamp_created|timesince }} назад</small>
            <!--
            <button type="button" class="ml-2 mb-1 close" data-dismiss="toast" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
            -->

        </div>
        <div class="toast-body">
            <small>{{ request.user.first_name }} {{ request.user.last_name }}</small>
            <br>
            <small>{{ i.description }}</small>

        </div>
    </div>
    {% endfor %}
{% endif %}



{% endblock %}
