{% extends 'base.html' %}

{% load bootstrap4 %}
{# Load CSS and JavaScript #}
{% bootstrap_css %}
{% bootstrap_javascript jquery='full' %}

{# Display django.contrib.messages as Bootstrap alerts #}
{% bootstrap_messages %}
{% load staticfiles %}


{% block title %}
    Help Desk
{% endblock %}

{% block content %}

    {% if 'user' in helpdeskuserroles or 'admin' in helpdeskuserroles %}
        <div class="col-xs-12 col-sm-6 col-md-8 col-lg-12">
            <a class="nav-link text-muted" href="#own" data-toggle="collapse"><h4>Свои обращения</h4></a>

            <!-- Button to Open the Modal -->
            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModal">
                <img src="{% static "icons/16x16/add.png" %} "> cоздать заявку
            </button>

            <!-- The Modal -->
            <div class="modal fade" id="myModal">
                <div class="modal-dialog modal-lg">
                    <div class="modal-content">


                        <!-- Modal Header -->
                        <div class="modal-header">
                            <h4 class="modal-title">Новая заявка</h4>
                            <button type="button" class="close" data-dismiss="modal">×</button>
                        </div>

                        <!-- Modal body -->
                        <div class="modal-body">
                            <form action="/helpdesk/add_incident" method="post">
                                {% csrf_token %}
                                <!-- {% bootstrap_form form layout='inline' %} -->
                                {{ form }}
                                <input type="submit" value="Submit">
                            </form>
                        </div>

                        <!-- Modal footer
                        <div class="modal-footer">
                            <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                        </div>
                        -->

                    </div>
                </div>
            </div>





            <div id="own" class="collapse show">
                <table class="table table-striped">
                    <thead>
                    <tr>
                        <th>ID</th>
                        <th>Автор</th>
                        <th>Создана</th>
                        <th>Описание</th>
                        <th>Тип</th>
                        <th>Статус</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for i in own_incidents %}
                        <tr>
                            <td>{{ i.id }}</td>
                            <td>{{ i.user }}</td>
                            <td>3</td>
                            <td>4</td>
                            <td>5</td>
                            <td>6</td>
                        </tr>
                    {% endfor %}

                    </tbody>
                </table>
            </div>
        </div>
    {% endif %}


    {% if 'serviceman'  in helpdeskuserroles  or 'admin' in helpdeskuserroles  %}
        <div class="col-xs-12 col-sm-6 col-md-8 col-lg-12">
            <a class="nav-link text-muted" href="#users" data-toggle="collapse"><h4>Обращения пользователей</h4></a>
            <div id="users" class="collapse show">
                <table class="table table-striped">
                    <thead>
                    <tr>
                        <th>F1</th>
                        <th>F2</th>
                        <th>F3</th>
                        <th>F4</th>
                        <th>F5</th>
                        <th>F6</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td>1</td>
                        <td>2</td>
                        <td>3</td>
                        <td>4</td>
                        <td>5</td>
                        <td>6</td>
                    </tr>
                    <tr>
                        <td>1</td>
                        <td>2</td>
                        <td>3</td>
                        <td>4</td>
                        <td>5</td>
                        <td>6</td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    {% endif %}



{% endblock %}

{% block debug %}
    {{ helpdeskuser }}<br>
    {{ helpdeskuserroles }} <br>



{% endblock %}
